<div class="condition">
  <% if this_thing %>
    <div class="this">Foo</div>
  <% elsif that_thing %>
    <div class="that">Bar</div>
  <% else %>
    <div class="neither">Baz</div>
  <% end %>
</div>
